{% extends "templates/base.html" %}

{%  block mainCont %}
<div id="content">
    <img src="/static/images/placeholder.jpg" alt="placeholder">

    <p><a class="user">Snacker User</a>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam dictum mi a leo dapibus bibendum et a nisi.
        Donec turpis sem, sodales nec ultrices vel, porttitor et nulla. <a class="tag">#Soup </a><a
                class="tag">#Fish </a></p>
    <hr>
    <img src="/static/images/placeholder.jpg" alt="placeholder">

    <p><a class="user">Snacker User</a>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam dictum mi a leo dapibus bibendum et a nisi.
        Donec turpis sem, sodales nec ultrices vel, porttitor et nulla. <a class="tag">#Soup </a><a
                class="tag">#Fish </a></p>
    <hr>
    <img src="/static/images/placeholder.jpg" alt="placeholder">

    <p><a class="user">Snacker User</a>: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nam dictum mi a leo dapibus bibendum et a nisi.
        Donec turpis sem, sodales nec ultrices vel, porttitor et nulla. <a class="tag">#Soup </a><a
                class="tag">#Fish </a></p>
    <hr>
</div>
{% endblock %}